@tailwind base;
@tailwind components;
@tailwind utilities;

@import './theme-config.css';

:root {
   --foreground-rgb: 0, 0, 0;
   --orange-color: #f76808;
}

@media (prefers-color-scheme: dark) {
   :root {
      --foreground-rgb: 255, 255, 255;
   }
}

body {
   color: rgb(var(--foreground-rgb));
}

h1,
h2,
h3,
h4,
h5 {
   font-weight: 200;
   text-align: center;
   color: darkcyan;
   text-decoration: underline solid var(--orange-color) 1px;
   text-underline-offset: 10px;
   margin: 30px auto;
   line-height: 1.4 !important;
}

button,
a {
   text-transform: uppercase;
}